.flip-card {
  perspective: 1000px;
}

.flip-card-inner {
  transform-style: preserve-3d;
  transition: transform 0.8s ease;
}

.flip-card-front,
.flip-card-back {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}
